<div class="form-content ">
  <mat-card class="w-75">
    <mat-card-content >
        <div class="daily-task text-center mb-4" >{{data?'Edit Task':'Daily Task'}}</div>
        <form class="example-form" [formGroup]="taskform" (ngSubmit)="detailsadd()">

          <mat-form-field  class="full-width position-relative" >
            <mat-label>Employee Name</mat-label>
            <input matInput name="employeename" class="form-control"   formControlName="employeeName"  required>
            <div class="icon"><mat-icon aria-hidden="false" aria-label="employee-name" fontIcon="person" ></mat-icon></div>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" name="currentdate"  formControlName="taskDate"  required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Assigned Task</mat-label>
            <textarea matInput  placeholder="Ex. Write the task that is given..." name="assignedtask" formControlName="assignedTask" ></textarea>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Task Details</mat-label>
            <textarea matInput placeholder="Ex. Completed, Pending etc..." name="taskdetails" formControlName="taskDetails"></textarea>
          </mat-form-field>
          <div class="text-center">
            <button mat-raised-button  class="submit-btn"  type="submit">{{data? 'save':'submit'}}</button>
            <button mat-raised-button class="cancel-btn" type="button" *ngIf="data" (click)="cancel()">Cancel</button>
          </div>
        </form>
    </mat-card-content>
  </mat-card>
</div>








